In [48]:
import random
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE  # 过抽样处理库
from imblearn.under_sampling import RandomUnderSampler  # 欠抽样处理库
from sklearn.svm import SVC

In [34]:
df = pd.read_table('data2.txt', names=['col1', 'col2', 'col3', 'col4', 'col5', 'label'])
df1 = df.sort_values('label').iloc[:550, :]
x, y = df1.iloc[:, :-1], df1.iloc[:, -1]
display(df.groupby('label').count(), df1.groupby('label').count())

       col1  col2  col3  col4  col5
label
0       475   475   475   475   475
1       525   525   525   525   525

       col1  col2  col3  col4  col5
label
0       475   475   475   475   475
1        75    75    75    75    75

In [35]:
model_smote = SMOTE()
x_smote_resampled, y_smote_resampled = model_smote.fit_sample(x, y)
smote_resampled = pd.concat([x_smote_resampled, y_smote_resampled], axis=1)
smote_resampled.groupby('label').count()

       col1  col2  col3  col4  col5
label
0       475   475   475   475   475
1       475   475   475   475   475

In [42]:
dropdup_count = df1.drop_duplicates().groupby('label').count()
smote_dropdup_count = smote_resampled.drop_duplicates().groupby('label').count()
display(dropdup_count, smote_dropdup_count)

       col1  col2  col3  col4  col5
label
0        86    86    86    86    86
1        44    44    44    44    44

       col1  col2  col3  col4  col5
label
0        86    86    86    86    86
1        64    64    64    64    64

In [40]:
model_under = RandomUnderSampler()
x_under_resampled, y_under_resampled = model_under.fit_sample(x, y)
under_resampled = pd.concat([x_under_resampled, y_under_resampled], axis=1)
under_resampled.groupby('label').count()

       col1  col2  col3  col4  col5
label
0        75    75    75    75    75
1        75    75    75    75    75

In [43]:
under_dropdup_count = under_resampled.drop_duplicates().groupby('label').count()
display(dropdup_count, under_dropdup_count)

       col1  col2  col3  col4  col5
label
0        86    86    86    86    86
1        44    44    44    44    44

       col1  col2  col3  col4  col5
label
0        39    39    39    39    39
1        44    44    44    44    44

class_weight指定类别权重，默认为None，为None时代表类别的权重相同，为balanced代表算法将自动调整与输入数据中的类别频率成反比的权重，也可以指定字典手动分配权重{1:10, 0:1}

In [45]:
model_svm = SVC(class_weight='balanced', gamma='scale')  # 创建SVC模型对象并通过class_weight指定类别权重

In [58]:
data = np.loadtxt('data3.txt')
data_sample = data[random.sample([i for i in range(len(data))], 2000)]
data_sample[:2]

array([[-8.33229635, -8.82963314,  8.36766292,  0.88659766,  6.10611868],
       [-7.72615131, -9.47566716,  6.18812657,  1.8182257 ,  4.22379508]])

In [60]:
len(data)

10000